/* Überschreibt die Linkfarbe im Inhaltsbereich */
.md-typeset a {
  color: #4298fa !important; /* Setzt den Linktext auf schwarz */
}
/* Überschreibt die Farbe des aktiven Navigationselements */
.md-nav__link.md-nav__link--active {
  color: #4298fa !important;  /* Beispiel: Schwarz */
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.responsive-container > div {
  flex: 1 1 100%; /* Default to full width */
  padding: 10px;
}

.responsive-container img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  .responsive-container > div {
    flex: 1 1 50%; /* Side by side on larger screens */
  }
}

/* Background of cookie consent modal not blurred */
.md-consent__overlay {
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
  background-color: rgba(0, 0, 0, 0) !important; /* Semi-transparent overlay */
}

/* Primary button (gefüllter Button) */
.md-consent__controls button.md-button--primary {
  background-color: #4298fa !important;
  border-color: #4298fa !important;
  color: white !important;
}

/* Secondary buttons (Outline-Buttons) */
.md-consent__controls .md-button:not(.md-button--primary) {
  color: #4298fa !important;
  border-color: #4298fa !important;
  background-color: transparent !important;
}

/* Hover für Secondary buttons */
.md-consent__controls .md-button:not(.md-button--primary):hover {
  background-color: rgba(66, 152, 250, 0.1) !important;
}